.home {
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.about {
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.about > p {
  text-align: justify;
  text-decoration: none;
  line-height: 1.5rem;
}